### 作业：男女评分分歧最大的5部电影与分歧最小的5部电影

同样的道理，大家可以运用之前学的这些内容，进一步看看如何找出评分分歧最大最小的几部电影。

思路还是一样的，分组，排序，输出。

In [1]:
import pandas as pd
# 这是pandas的本体

import numpy as np
# 数据的处理，配合Numpy使用效果更佳

import matplotlib.pyplot as plt

In [2]:
# 接着，我们给我们所有的数据起好column的名字
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('data/ml-100k/u.user', sep='|', names=u_cols, encoding = "ISO-8859-1")

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('data/ml-100k/u.data', sep='\t', names=r_cols, encoding = "ISO-8859-1")

m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('data/ml-100k/u.item', sep='|', names=m_cols, usecols=range(5), encoding = "ISO-8859-1")

# 把他们都merge起来
movie_ratings = pd.merge(movies, ratings)
lens = pd.merge(movie_ratings, users)

In [3]:
lens.head()

,movie_id,title,release_date,video_release_date,imdb_url,user_id,rating,unix_timestamp,age,sex,occupation,zip_code
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,308,4,887736532,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,308,5,887737890,60,M,retired,95076
2,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),308,4,887739608,60,M,retired,95076
3,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,308,4,887738847,60,M,retired,95076
4,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),308,5,887736696,60,M,retired,95076

In [6]:
table_movie_by_sex=lens.groupby(['title', 'sex']).agg({'rating':  np.mean}).unstack(1)
table_movie_by_sex.head()

                             rating
sex                               F         M
title
'Til There Was You (1997)  2.200000  2.500000
1-900 (1994)               1.000000  3.000000
101 Dalmatians (1996)      3.116279  2.772727
12 Angry Men (1957)        4.269231  4.363636
187 (1997)                 3.500000  2.870968

In [7]:
table_movie_by_sex[('rating','diff_mean')]=(table_movie_by_sex[('rating','F')]-table_movie_by_sex[('rating','M')]).abs()
table_movie_by_sex[('rating','diff_mean')].sort_values(ascending=False)[:10]

title
Delta of Venus (1994)                                 4.000000
Two or Three Things I Know About Her (1966)           3.666667
Paths of Glory (1957)                                 3.419355
Magic Hour, The (1998)                                3.250000
Killer (Bulletproof Heart) (1994)                     3.000000
Lay of the Land, The (1997)                           3.000000
Rough Magic (1995)                                    3.000000
So Dear to My Heart (1949)                            3.000000
Aparajito (1956)                                      3.000000
Spirits of the Dead (Tre passi nel delirio) (1968)    3.000000
Name: (rating, diff_mean), dtype: float64

In [8]:
table_movie_by_sex[('rating','diff_mean')].sort_values(ascending=True)[:10]

title
Go Fish (1994)                                          0.0
Bonheur, Le (1965)                                      0.0
Savage Nights (Nuits fauves, Les) (1992)                0.0
His Girl Friday (1940)                                  0.0
Nightwatch (1997)                                       0.0
Prisoner of the Mountains (Kavkazsky Plennik) (1996)    0.0
Whole Wide World, The (1996)                            0.0
Contempt (Mépris, Le) (1963)                            0.0
In the Realm of the Senses (Ai no corrida) (1976)       0.0
Angel and the Badman (1947)                             0.0
Name: (rating, diff_mean), dtype: float64